<p><%= link_to "Back to Home", books_url %></p>

<p><%= @books.title %>, <%= @books.author %></p>
<p><%= @books.url%></p>
<p><%= @books.description %></p>

<%= link_to "Edit Book" , edit_book_path(@books) %> |
<%= link_to "Delete Book", @books, method: :delete, data: {confirm: "Do you want delete this book?"} %>
